%nav#main_nav
  %ul
    %li
      %a.toggle-nav{href: '#'}
        .icon.fa.fa-bars.fa-lg
      %ul.nav-links
        %li.active
          %a{href: "#main_header"} Home
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#work"} Work
        %li
          %a{href: "#blog"} Blog
        %li
          %a{href: "#contact"} Contact

