{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <nav role="navigation">
    <div class="wrapper-nav">
      {% include navigation.html %}      
    </div>
  </nav>
	<div class="wrapper-header">
    <div data-stellar-ratio="2" id="instafeed"></div>
    <div class="shadow"></div>
  </div>
  <div class="wrapper-content">
  	<header role="banner">{% include header.html %}</header>
  	<div id="main">
  	  <div id="content">
  	    {{ content | expand_urls: root_url }}
  	  </div>
  	</div>
  	<footer role="contentinfo">{% include footer.html %}</footer>
  </div>
  {% include after_footer.html %}
</body>
</html>
